<div id="searchBookContainer " *ngIf="searchBookComponent" class="col-md-12 bg-img searchbook">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-title">Search Books</div>
            <div class="col-lg-12 login-form">
                <form name="form" (ngSubmit)="f.form.valid && searchBook()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label class="form-control-label" for="category">Category </label>
                        <input type="text" class="form-control" name="category" [(ngModel)]='book.category' required
                            pattern="\S(.*\S)?" #category="ngModel">
                        <div class="alert alert-danger" role="alert" *ngIf="category.errors && f.submitted">
                            <div class="alert alert-danger" *ngIf="category.errors?.['required']">Category
                                is
                                required</div>
                            <div *ngIf="validateWhiteSpaceCategory()">Category is Empty!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="publisher">Publisher </label>
                        <input type="text" class="form-control" name="publisher" [(ngModel)]='book.publisher' required
                            pattern="\S(.*\S)?" #publisher="ngModel">
                        <div class="alert alert-danger" role="alert" *ngIf="category.errors && f.submitted">
                            <div class="alert alert-danger" *ngIf="publisher.errors?.['required']">Publisher
                                name is
                                required</div>
                            <div *ngIf="validateWhiteSpacePublisher()">Publisher is Empty!</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="author">Author</label>
                        <input type="text" class="form-control" name="author" [(ngModel)]='book.author' required
                            pattern="\S(.*\S)?" #author="ngModel">
                        <div class="alert alert-danger" role="alert" *ngIf="category.errors && f.submitted">
                            <div class="alert alert-danger" *ngIf="author.errors?.['required']">Author
                                name is
                                required</div>
                            <div *ngIf="validateWhiteSpaceAuthor()">Author is Empty!</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 login-btm login-button">
                            <button class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<div class="container" *ngIf="isBookListAvailable">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Purchase Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of bookList">
                        <td>{{b.title}}</td>
                        <td>{{b.author}}</td>
                        <td>{{b.price}}</td>
                        <button class='btn btn-outline-primary' (click)='buyBook(b)'>Buy</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="searchBookContainer" *ngIf="buyBookForReader" class="col-md-12  searchbook">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-title">Buy Book</div>
            <div class="col-lg-12 login-form">
                <!-- <div class="form-group"> -->
                <form name="form" (ngSubmit)="f.form.valid && onBuy()" #f="ngForm" novalidate>
                    <label class="form-control-label" for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="reader.userName" required
                        minlength="3" maxlength="20" #username="ngModel" />
                    <div class="alert alert-danger" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors?.['required']">Username is required</div>
                        <div *ngIf="username.errors?.['minlength']">
                            Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors?.['maxlength']">
                            Username must be at most 20 characters
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="form-group"> -->
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="reader.mailId" required email
                        #email="ngModel" />
                    <div class="alert alert-danger" *ngIf="email.errors  && f.submitted">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['email']">
                            Email must be a valid email address
                        </div>
                    </div>
                    <div class="login-btm login-button">
                        <button class="btn btn-outline-primary">Buy</button>
                    </div>
                    <!-- </div> -->
                </form>
            </div>
        </div>
    </div>
</div>

<div role="alert" *ngIf="isPurchaseMessage">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="form-control-label-message">
                <p>Your purchase is successful!,Please find the payment Id of your purchase</p> {{paymentId}}
                <p>Please <button (click)='searchMoreBook()' class="btn btn-outline-primary"> Sign Up
                    </button> to view purchased book</p>
            </div>
        </div>
    </div>
</div>