<div class="container" *ngIf="isBookListAvailable && authorRole">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Edit Book</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of bookList">
                        <td>{{b.title}}</td>
                        <td>{{b.author}}</td>
                        <td>{{b.price}}</td>
                        <button class='btn btn-outline-primary' (click)='editBook(b)'>Edit</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" *ngIf="!isBookListAvailable">
        {{noBookFoundMessage}}
    </div>
</div>

<div class="container" *ngIf="isReaderBookListAvailable && !readerRole">
    <div class="card m-5 p-3">
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>PaymentId</th>
                        <th>Payment Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{readerPurchasedBooks.paymentid}}</td>
                        <td>{{readerPurchasedBooks.payment_date | date}}</td>
                        <button class='btn btn-outline-primary'
                            (click)='viewBook(readerPurchasedBooks.bookId,readerPurchasedBooks.paymentid)'>View</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container" *ngIf="!isBookListAvailable">
        {{noBookFoundMessage}}
    </div>
</div>

<div id="createBookContainer" class="col-md-12" *ngIf="readerRole">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-title">Search Books with paymentId</div>
            <div class="col-lg-12 login-form">
                <form name="form" (ngSubmit)="f.form.valid && searchBookForReader()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label class="form-control-label" for="PaymentId">Enter Payment Id </label>
                        <input type="text" required pattern="\S(.*\S)?" class="form-control" name="title"
                            [(ngModel)]='searchBookReaderPaymentId' #payment="ngModel">
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="payment.errors && f.submitted">
                        <div class="alert alert-danger" *ngIf="payment.errors?.['required']">Payment id is required</div>
                        <div *ngIf="validateWhiteSpace()">Payment is Empty!</div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 login-btm login-button">
                            <button class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>